body {
  background: papayawhip;
}
.container{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}
div > *{
  background-color: aliceblue;
  text-align: center;

}
.a{
  flex: 1  100%;
}
.b{
  flex: 5  100%;
}
.c, .d, .e{
  display: flex;
  flex-direction: row;
  flex: 1 1 10%;

}
.f{
  flex-direction: row;
  flex:3 1 100%;
}
@media (min-width: 800px){
  .container{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .c{
    flex-direction: row;
    flex: 1;
  }
  .d{
    flex-direction: row;
    flex: 1;
  } 
  .e{
    flex-direction: row;
    flex: 1 ;
  }
}